/* PRIMARY BUTTON STYLES */
.header {
  width: 201px;
  height: 224px;
  background-color: var(--012-green);
}
.primary-btn {
  padding-top: 0.9rem;
  padding-right: 3.3rem;
  padding-bottom: 1.1rem;
  padding-left: 3.2rem;
  border: 2px solid var(--white-color);
  background-color: var(--012-green);
  color: var(--white-color);
  border-radius: 2.4rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.55em;

  &:hover {
    color: var(--012-green);
    background-color: var(--white-color);
  }

  &:active {
    border-color: var(--darkk-green);
    background-color: var(--012-green);
    color: var(--darkk-green);
  }
}

/* PRIMARY BUTTON END */

/* SECONDARY BUTTON START */

/* SECONDARY BUTTON END */
